
<p>Øvelse 1 - Pasning i midten, touch ut, pasning tilbake:</p>
<p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/VSk21cg2TrQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>Øvelse 2 - Flytt bein utside, få pasning, touch tilbake inn i midten, tilbakepasning:</p>
<p>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/B_BEVzp6v5o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>Øvelse 3 - Sidestille, møte ball, pass tilbake, utsiden, åpne opp og ta i mot på lengste bein, føre 5 meter opp og vending med pasning tilbake:</p>
<p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/EeuUG-tsx2w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
</p>

<p>Øvelse 4 - Trekke unna, møte, orientere, vende og ta i mot på lengste ben, skyte fart, vende med ball, skikkelig pasning tilbake:</p>
<p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/KxdA_qDgYQg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>Øvelse 5 - Mellom lengdekjegler, kjapt flytte bena rundt i 8-tall, pasning tilbake på midten:</p>
<p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MsJs8UM26uY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<p>Øvelse 6 - Bruke hele firkanten, pasning inn til midten, kjappe steg:</p>
<p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/CdJS-NguYcw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>